h1{
    font-family: Swis721 LtCn BT;
    padding-left: 12px;
}

p{
    font-family: Swis721 LtCn BT;
    padding-left: 125px;
    padding-top: 36px;
    position: fixed;
    margin-left: 60px;
    line-height: 175%;   
}

.bottomtext{
    padding-top: 75;
        position:absolute;
}
.resume{
    padding-top: 240;
        margin-left: 60px;

    position: absolute;
        padding-left: 125px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 0px;
    width: 60px;
}
li a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: Swis721 LtCn BT;
    line-height: 175%;
}

.navigation {
    padding-top: 32px;
}
.projects{
    position: fixed; padding: inherit;
    
}

a{
    display: block;
    color: black;
    font-family: Swis721 LtCn BT;
    line-height: 175%;
    
}

.currenthome{
    background-color: darkgrey;
    width: 33px;
}
.currentabout{
    background-color: darkgrey;
    width: 33px;
}
.currentforce{
      background-color: darkgrey;
    width: 30px;  
}
.currentinternal{
      background-color: darkgrey;
    width: 45px;  
}
.currentmisc{
      background-color: darkgrey;
    width: 85px;  
}
.currentphoto{
      background-color: darkgrey;
    width: 74px;  
}
.currentunity{
      background-color: darkgrey;
    width: 30px;  
}



.popup{
    display: none
 }

a.force:hover + img{
    display: block;
     position: fixed;
    bottom: 0px;
    right: 0px;
}
a.unity:hover + img{
    display: block;
position: fixed;
    bottom: 15px;
    right: 20px;  
}
a.internal:hover + img{
    display: block;
    position: fixed;
    bottom: 30px;
    right: 40px;  
}
a.photo:hover + img{
    display: block;
    position: fixed;
    right:150px;
    bottom:0px;
}
a.misc:hover + img{
    display: block;
    position: fixed;
    right:45px;
    bottom:30px;
}

a.finalmodel:hover + img{
    display: block;
    position: fixed;
    right:100px;
    bottom:0px;
    
}

.finalmodel{
    padding-left: 85px;
    position: fixed;
    padding-top: 52px;
    margin-left: 100px;
}


